.Navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
    align-items: center;
}

.brand{
    color: #171717;
    font-size: 38px;
    font-weight: 600
}

.nav-menu{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
  color: #626262;
  font-size: 20px;
  font-weight: 500;
}

.search-container input{
    color: #626262;
    font-size: 20px;
    font-weight: 500;
    border-radius: 30px;  
    height: 40px; 
    width: 300px;
    background: black;
    color: white;
    padding-left: 10px;
}

.search-container form{
    width: 450px;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

  .search-wrapper {
    position: relative;
  }
  
  .search-wrapper input[type="text"] {
    padding-right: 35px; /* Adjust padding to make space for the button */
  }
  
  .search-wrapper button {
    position: absolute;
    top: 0;
    right: 20px;
    height: 100%;
    padding: 1px 10px; /* Adjust padding as needed */
  }
  
  .login-button button{
    width: 159px;
    height: 40px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background-color: white;
  }
  
  
  .login-button button:hover{
    background-color: black;
    color: white;
    transition: 0.075s;
  }
  
  
  .login-button button:active{
    background-color: #515151;
  }
  
  .nav-menu hr{
    border: none;
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background: #FF4141;
  }